* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  max-width: 100%;
  /*  height: 100%;*/
}

html, body {
  /*height: 100%;*/
}

/*
███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ███████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
*/
header {
  height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  display: block;
  height: 8vh;
  left: 0;
  position: absolute;
}

nav {
  background-color: rgba(38, 38, 38, 0.85);
  height: 8vh;
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul li {
  display: inline-block;
  /*puts them on same ROW, instead column */
  line-height: 8vh;
  /* same as parent's height; centers the content vertically */
  list-style: none;
  overflow: hidden;
  position: relative;
}

nav ul li a {
  color: white;
  display: block;
  /* clickable on outside text */
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  /*text-align: center;*/
  min-width: 7vw;
}

/*
██   ██ ███████ ██████   ██████
██   ██ ██      ██   ██ ██    ██
███████ █████   ██████  ██    ██
██   ██ ██      ██   ██ ██    ██
██   ██ ███████ ██   ██  ██████
*/
#hero {
  height: 130vh;
  width: 100%;
  background-image: linear-gradient(rgba(68, 64, 64, 0.6),
      rgba(0, 0, 0, 0.4)),
    url(img/batman-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-itrems: center;
}

/*
███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██
*/
.hero-text {
  min-width: 30vw;
  height: 30vh;
  border: 5px solid rgb(253, 227, 17);
  background-color: rgba(114, 169, 226, 0.1);
  background-color: rgba(245, 245, 245, 0.1);
  bottom: 280px;
  color: rgb(253, 227, 17);
  color: whitesmoke;
  cursor: default;
  font-family: 'Lato', sans-serif;
  position: absolute;
  text-align: center;
}

#hero h1 {
  font-size: 7rem;
  font-weight: 300;
  padding: 20px;
}

#hero h2 {
  color: inherit;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 45px;
}

.movies h2,
.actors h2,
#gallery h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  width: 100%;
  text-align: center;
  /*
  color: rgb(253, 227, 17);
  border: solid whitesmoke;
  border-width: 0 0 10px;
  */
}

#gallery h2 {
  background-color: rgb(38, 38, 38);
  text-align: center;
  width: 100%;
  color: whitesmoke;
  margin: 0;
  padding-top: 40px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 40px;
}

/*=== .social-h5 {
  background-color: chocolate;
  font-size: 22px;
  margin-top: 5px;} === */
p {
  line-height: 1.4em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.2em;
}

/*p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 14px;
}*/
.text-wrapper p {
  /*background-color: coral;*/
  font-family: 'Cormorant Upright', serif;
  cursor: default;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
}

.box>span {
  font-family: 'Cormorant', sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 2.4em;
  text-align: center;
}

.address-text .address-manor {
  font-style: italic;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 2.6em;
}

/*.address-text {
  background-color: aquamarine;
}*/
.follow-b {
  font-family: 'Cormorant', sans-serif;
  cursor: default;
  margin: 70px auto 0;
  font-size: 2.4em;
  font-weight: 500;
  width: 300px;
}

.info-text {
  font-family: 'Cormorant Upright', serif;
}

.italics {
  font-style: italic;
}

/*
 █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
*/
#movies::before,
#actors::before,
#gallery::before {
  content: '';
  display: block;
  height: 8vh;
  margin-top: -8vh;
  visibility: hidden;
}

#footer::before {
  content: '';
  display: block;
  height: -70px;
  margin-top: -70px;
  visibility: hidden;
}

/*
██████   ██████  ██   ██ ███████ ███████
██   ██ ██    ██  ██ ██  ██      ██
██████  ██    ██   ███   █████   ███████
██   ██ ██    ██  ██ ██  ██           ██
██████   ██████  ██   ██ ███████ ███████
*/
.movies {
  background-color: rgba(219, 202, 180, 0.5);
}

.actors {
  background-color: rgba(177, 174, 168, 0.5);
}

.boxes {
  /*  ===   If add height, boxes will overlap   ===== */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

.feature {
  height: 1100px;
  position: relative;
  /*<-- if navbar disappears, disable relative */
  flex-basis: 20%;
  text-align: center;
  padding: 35px 35px 0;
  margin-bottom: 50px;
  /*
  margin-top: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;*/
}

.picture {
  height: 300px;
  width: 400px;
}

.actors .feature .picture {
  height: 300px;
  width: 500px;
}

/*
██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
*/
.wrappers {
  border: 12px solid whitesmoke;
  height: 92vh;
  width: 100%;
}

.hero-to-movies,
.movies-to-actors,
.actors-to-gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.hero-to-movies {
  background-image: url(img/wrapper/bat-wings.jpg);
  height: 100%;
  width: 100%;
  background-size: 100vw 110%;
}

.movies-to-actors {
  background-image: url(img/wrapper/city-window.jpg);
  height: 100%;
  width: 100%;
  background-size: 100vw 100%;
}

.actors-to-gallery {
  background-image: url(img/wrapper/cartoon.jpg);
  height: 100%;
  width: 100%;
  background-size: 100vw 100%;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
#footer {
  width: 100%;
  height: 100vh;
  /*  overflow: hidden;
  box-sizing: border-box;*/
}

.footer-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
/*
██ ███    ███  ██████
██ ████  ████ ██
██ ██ ████ ██ ██   ███
██ ██  ██  ██ ██    ██
██ ██      ██  ██████
*/
.footer-img {
  height: 60vh;
  width: 100%;
  background-image: url(img/wrapper/rain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  grid-column: 1/4;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
/*
 █████  ██████  ██████  ██████  ███████ ███████ ███████
██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██
███████ ██   ██ ██   ██ ██████  █████   ███████ ███████
██   ██ ██   ██ ██   ██ ██   ██ ██           ██      ██
██   ██ ██████  ██████  ██   ██ ███████ ███████ ███████
*/
.footer-address {
  background-color: black;
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
  /*transition: transform 2s;*/
  transition: background-color 0s ease-in-out;
}

.address-logo {
  height: 100%;
  background-image: url(img/logo/footer-logo-1.jpg);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  transition: transform 2s;
  position: relative;
  /*  visibility:visible;
  opacity: 1;
  transition: opacity 3s linear;*/
  /*transition: transform 2s;
  opacity: 1;
  transition: opacity 2s ease-in-out;*/
}

.address-map {
  flex-basis: 150%;
  margin: 20px 10px 20px 20px;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
/*
██████  ██████   ██████  ███████ ██ ██      ███████
██   ██ ██   ██ ██    ██ ██      ██ ██      ██
██████  ██████  ██    ██ █████   ██ ██      █████
██      ██   ██ ██    ██ ██      ██ ██      ██
██      ██   ██  ██████  ██      ██ ███████ ███████
*/
.footer-bat-profile {
  grid-column: 2/3;
  overflow: hidden;
  /*removed whitespace at bottom of page*/
  /*background-image: linear-gradient(to right, black, white);*/
}

.profile-logo {
  height: 100%;
  background-image: url(img/logo/footer-logo-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*
.footer-pic-wrapper {
  opacity: 0;
  transition: opacity 2s ease;
  display: none;
}*/
/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
/*
██ ███    ██ ███████  ██████
██ ████   ██ ██      ██    ██
██ ██ ██  ██ █████   ██    ██
██ ██  ██ ██ ██      ██    ██
██ ██   ████ ██       ██████
*/
.footer-info {
  /*height: 40vh;*/
  width: 100%;
  background-color: white;
  grid-column: 3/4;
  overflow: hidden;
}

.info-logo {
  height: 100%;
  width: 100%;
  background-image: url(img/logo/footer-logo-3.svg);
  background-repeat: no-repeat;
  background-size: 240%;
  background-position: center;
  transition: transform 2s ease-out;
}

/*
███████  ██████   ██████ ██  █████  ██
██      ██    ██ ██      ██ ██   ██ ██
███████ ██    ██ ██      ██ ███████ ██
     ██ ██    ██ ██      ██ ██   ██ ██
███████  ██████   ██████ ██ ██   ██ ███████
*/
.social-logo {
  /*display: block;*/
  width: 55px;
  height: 55px;
  margin-top: 10px;
}

.facebook {
  position: relative;
  /*padding-bottom: 3px;*/
}

.twitter {
  transition: transform 1.5s;
}

/*
 ██████  ██████  ██████  ██    ██ ██████  ██  ██████  ██   ██ ████████
██      ██    ██ ██   ██  ██  ██  ██   ██ ██ ██       ██   ██    ██
██      ██    ██ ██████    ████   ██████  ██ ██   ███ ███████    ██
██      ██    ██ ██         ██    ██   ██ ██ ██    ██ ██   ██    ██
 ██████  ██████  ██         ██    ██   ██ ██  ██████  ██   ██    ██
*/
.copyright {
  font-family: 'Cormorant', sans-serif;
  cursor: default;
  /*background-color: coral;*/
  position: relative;
  top: 50px;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
/*
██████  ██████   █████   ██████ ██ ████████ ██    ██
██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
██    ██ ██████  ███████ ██      ██    ██      ████
██    ██ ██      ██   ██ ██      ██    ██       ██
██████  ██      ██   ██  ██████ ██    ██       ██
*/
.address-map,
.address-text,
.footer-pic-wrapper,
.social-ul,
.copyright {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.social-logo,
.follow-b {
  opacity: 0.7;
  /*.social-list h5 = removed h5 ----*/
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
 ██████  ██████   █████   ██████ ██ ████████ ██    ██
██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
██    ██ ██████  ███████ ██      ██    ██      ████
██    ██ ██      ██   ██ ██      ██    ██       ██
 ██████  ██      ██   ██  ██████ ██    ██       ██
*/
.footer-address:hover .address-map,
.footer-address:hover .address-text,
.footer-bat-profile:hover .footer-pic-wrapper,
.footer-info:hover .social-ul,
.footer-info:hover .copyright,
.follow-b:hover {
  opacity: 1;
}

.social-logo:hover,
.social-list:hover .social-logo {
  opacity: 1;
  font-weight: 500;
  font-size: 26px;
  /*.social-list:hover h5 -- removed h5 */
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
.footer-info:hover a {
  background-color: rgb(252, 243, 201);
  color: rgb(38, 38, 38);
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
 █████  ██████  ██████  ██████  ███████ ███████ ███████
██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██
███████ ██   ██ ██   ██ ██████  █████   ███████ ███████
██   ██ ██   ██ ██   ██ ██   ██ ██           ██      ██
██   ██ ██████  ██████  ██   ██ ███████ ███████ ███████
*/
.footer-address:hover {
  background-color: rgb(252, 243, 201);
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
  /*transition: background-color 6s ease 0s;*/
}

/*---  Logo on RETURN----*/
.footer-address:hover .address-logo {
  transform: translateX(-500px) rotate(390deg);
}

.footer-address:hover .address-map {
  background-image: url(img/map.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
██████  ██████   ██████  ███████ ██ ██      ███████
██   ██ ██   ██ ██    ██ ██      ██ ██      ██
██████  ██████  ██    ██ █████   ██ ██      █████
██      ██   ██ ██    ██ ██      ██ ██      ██
██      ██   ██  ██████  ██      ██ ███████ ███████
*/
.footer-bat-profile:hover .profile-logo {
  display: none;
}

.footer-bat-profile:hover .footer-pic-wrapper {
  display: inline-block;
  opacity: 1;
  width: 100%;
  height: 100%;
  /* display: inline-block;*/
}

.footer-bat-profile:hover .profile-pic {
  background-image: url(img/car.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
██ ███    ██ ███████  ██████
██ ████   ██ ██      ██    ██
██ ██ ██  ██ █████   ██    ██
██ ██  ██ ██ ██      ██    ██
██ ██   ████ ██       ██████
*/
.footer-info:hover {
  background-color: rgb(252, 243, 201);
}

.footer-info:hover .info-logo {
  display: inline;
  background-size: 100%;
  transform: translateY(300px);
}

.footer-info:hover .info-text {
  width: 100%;
  display: inline;
  height: 100%;
  width: 100%;
  text-align: center;
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
███████  ██████   ██████ ██  █████  ██
██      ██    ██ ██      ██ ██   ██ ██
███████ ██    ██ ██      ██ ███████ ██
     ██ ██    ██ ██      ██ ██   ██ ██
███████  ██████   ██████ ██ ██   ██ ███████
*/
.footer-info:hover .social-wrapper {
  /*background-color: darkorchid;*/
  height: 100%;
  width: 100%;
}

.footer-info:hover .follow-b {
  /*background-color: darkgreen;*/
}

.footer-info:hover .social-ul {
  /*background-color: red;*/
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-info:hover .social-list {
  /*background-color: darkkhaki;*/
  list-style: none;
  width: 150px;
  /*position: absolute;
  flex-basis: 20%;*/
}

/*
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██
*/
/*
███████  ██████   ██████ ██  █████  ██
██      ██    ██ ██      ██ ██   ██ ██
███████ ██    ██ ██      ██ ███████ ██
     ██ ██    ██ ██      ██ ██   ██ ██
███████  ██████   ██████ ██ ██   ██ ███████
*/
/*
██       ██████   ██████   ██████
██      ██    ██ ██       ██    ██
██      ██    ██ ██   ███ ██    ██
██      ██    ██ ██    ██ ██    ██
███████  ██████   ██████   ██████
*/
.footer-info:hover .a-text {
  /*background-color: aqua;*/
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 80px;
  line-height: 15px;
}

.a-text:hover .facebook {
  background-color: rgba(59, 89, 152, 0.8);
  transform: scale(1.2);
  border-radius: 50%;
}

.a-text:hover .twitter,
.twitter:hover {
  transform: rotate(390deg);
  /*background: linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa, #ffffff);*/
}

.a-text:hover .instagram {
  transform: scale(1.2);
  border-radius: 17px;
  background: radial-gradient(circle at 30% 107%, rgba(252, 243, 150, 0.7) 0%, rgba(252, 243, 150, 0.7) 5%, rgba(252, 89, 73, 0.7) 45%, rgba(214, 36, 159, 0.7) 60%, rgba(40, 90, 235, 0.7) 90%);
  /*  background: radial-gradient(circle at 30% 107%, rgb(252, 243, 150) 0%, rgb(252, 243, 150) 5%, rgb(252, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);*/
}