/*
██████  ███████ ███████ ██   ██ ████████  ██████  ██████
██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██
██   ██ █████   ███████ █████      ██    ██    ██ ██████
██   ██ ██           ██ ██  ██     ██    ██    ██ ██
██████  ███████ ███████ ██   ██    ██     ██████  ██
*/
@media screen and (min-width: 1280px) {

  nav ul li a {
    width: 7vw;
    -webkit-transition: color .6s ease 0s;
    -o-transition: color .6s ease 0s;
    transition: color .6s ease 0s;
    -webkit-transition: background-color .8s ease 0s;
    -o-transition: background-color .8s ease 0s;
    transition: background-color .8s ease 0s;
  }

  nav ul li a:hover {
    color: rgb(253, 227, 17);
  }

  nav ul li a:focus {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
  }
  nav ul li a:active {
    background-color: inherit;
    color: rgb(253, 227, 17);
  }

  nav .contact {
    display: none;
  }

  #bat-video {
    height: 100vh;
  }

  #hero-text {
    border: 7px double rgb(253, 227, 17);
    max-height: 30%;
  }

  #hero h1 {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 1rem;
    margin-top: 10px;
    text-indent: 1rem;
  }
  
  #hero h2 {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
    text-indent: 0.6rem;
    word-spacing: 0.2rem;
  }

  .movies h2,
  .actors h2,
  #gallery h2 {
    padding: 80px 0;
    text-indent: 2rem;
    width: 40%;
  }

  #gallery h2 {
    width: 50%;
  }

  .feature p {
    padding: 0;
  }

  /*
    ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
    ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
    ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
    ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
     ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
    */
  .h2-movies-actors-wrapper {
    margin: 100px 0;
  }

  .h2-gallery-wrapper {
    padding: 100px 0;
  }

  .wrappers {
    height: 92vh;
  }

  .hero-to-movies,
  .movies-to-actors,
  .actors-to-gallery {
    background-attachment: fixed;
  }

  .hero-to-movies {
    background-size: 100vw 110%;
  }

  .movies-to-actors,
  .actors-to-gallery {
    background-size: 100vw 100%;
  }

  .feature {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-bottom: 100px;
  }

  /*
  ██████  ██    ██ ████████ ████████  ██████  ███    ██
  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
  ██████   ██████     ██       ██     ██████  ██   ████
  */
  .button-wrapper {
    -webkit-backface-visibility: hidden;
  }


/*  .button-wrapper a:active {
    background-color: rgba(252, 226, 16, 0.5);
    color: rgb(38, 38, 38);
  }*/

  .read-more,
  .source {
    -webkit-transition: background-color 900ms;
    -o-transition: background-color 900ms;
    transition: background-color 900ms;
  }

  .read-more-1,
  .source-1,
  .read-more-2,
  .source-2 {
    -webkit-box-shadow: 4px 4px 1px rgba(38, 38, 38, 0.4);
            box-shadow: 4px 4px 1px rgba(38, 38, 38, 0.4);
    -webkit-transition: -webkit-transform 500ms, -webkit-box-shadow 500ms;
    transition: -webkit-transform 500ms, -webkit-box-shadow 500ms;
    -o-transition: transform 500ms, box-shadow 500ms;
    transition: transform 500ms, box-shadow 500ms;
    transition: transform 500ms, box-shadow 500ms, -webkit-transform 500ms, -webkit-box-shadow 500ms;
  }

  .read-more-3,
  .source-3 {
    -webkit-box-shadow: -4px 4px 1px rgba(38, 38, 38, 0.4);
            box-shadow: -4px 4px 1px rgba(38, 38, 38, 0.4);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }

  /*------ Button 1 (Read More + Source)  ---------*/
  /*-----------------------------------------------*/
  .button-wrapper:hover .read-more-1,
  .button-wrapper:hover .source-1 {
    -webkit-box-shadow: 20px 10px 4px rgba(38, 38, 38, 0.4);
            box-shadow: 20px 10px 4px rgba(38, 38, 38, 0.4);
    -webkit-transform: translate(-15px, 0);
        -ms-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }


  /*------ Button 2 (Read More + Source)  ---------*/
  /*-----------------------------------------------*/
  .button-wrapper:hover .read-more-2,
  .button-wrapper:hover .source-2 {
    -webkit-box-shadow: 4px 20px 4px rgba(38, 38, 38, 0.4);
            box-shadow: 4px 20px 4px rgba(38, 38, 38, 0.4);
    -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }

  /*------ Button 3 (Read More + Source)  ---------*/
  /*-----------------------------------------------*/
  .button-wrapper:hover .read-more-3,
  .button-wrapper:hover .source-3 {
    -webkit-box-shadow: -16px 10px 4px rgba(38, 38, 38, 0.4);
            box-shadow: -16px 10px 4px rgba(38, 38, 38, 0.4);
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }


  /*
   ██████   █████  ██      ██      ███████ ██████  ██    ██
  ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
  ██   ███ ███████ ██      ██      █████   ██████    ████
  ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
   ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
  */
  .mobile-gallery {
    display: none;
  }

  .container {
    background-color: rgb(38, 38, 38);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding: 0 10px 100px;
    width: 100%;
  }

  .box {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: 500ms;
    transition: 500ms;
    margin: 0 2%;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
            box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
  }

  .box img {
    width: 100%;
    height: calc(100% - 10vh);
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }

  .box span {
    display: block;
    height: 10vh;
  }

  .box:hover {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .box:hover img {
    width: 100%;
    height: 100%;
  }

  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  #footer {
    width: 100%;
    height: 92vh;
  }

  .footer-mobile-wrapper {
    display: none;
  }

  .footer-wrapper {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }

  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  /*
  ██ ███    ███  ██████
  ██ ████  ████ ██
  ██ ██ ████ ██ ██   ███
  ██ ██  ██  ██ ██    ██
  ██ ██      ██  ██████
  */
  
  .footer-img {
    height: 55vh;
    width: 100%;
    background-image: url(img/wrapper/rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }

  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  /*
   █████  ██████  ██████  ██████  ███████ ███████ ███████
  ██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██
  ███████ ██   ██ ██   ██ ██████  █████   ███████ ███████
  ██   ██ ██   ██ ██   ██ ██   ██ ██           ██      ██
  ██   ██ ██████  ██████  ██   ██ ███████ ███████ ███████
  */
  .footer-address {
    background-color: black;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    overflow: hidden;
    -webkit-transition: background-color 0s ease-in-out;
    -o-transition: background-color 0s ease-in-out;
    transition: background-color 0s ease-in-out;
  }

  .address-logo {
    height: 100%;
    background-image: url(img/logo/footer-logo-1.jpg);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    position: relative;
  }

  .address-map {
    -ms-flex-preferred-size: 150%;
        flex-basis: 150%;
    margin: 20px 10px 20px 20px;
  }

  .text-wrapper {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  /*
  ██████  ██████   ██████  ███████ ██ ██      ███████
  ██   ██ ██   ██ ██    ██ ██      ██ ██      ██
  ██████  ██████  ██    ██ █████   ██ ██      █████
  ██      ██   ██ ██    ██ ██      ██ ██      ██
  ██      ██   ██  ██████  ██      ██ ███████ ███████
  */
  .footer-bat-profile {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    overflow: hidden;
  }

  .profile-logo {
    height: 100%;
    background-image: url(img/logo/footer-logo-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  /*
  ██ ███    ██ ███████  ██████
  ██ ████   ██ ██      ██    ██
  ██ ██ ██  ██ █████   ██    ██
  ██ ██  ██ ██ ██      ██    ██
  ██ ██   ████ ██       ██████
  */
  
  .footer-info {
    width: 100%;
    background-color: white;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    overflow: hidden;
  }

  .info-logo {
    height: 100%;
    width: 100%;
    background-image: url(img/logo/footer-logo-3.svg);
    background-repeat: no-repeat;
    background-size: 240%;
    background-position: center;
    -webkit-transition: -webkit-transform 2s ease-out;
    transition: -webkit-transform 2s ease-out;
    -o-transition: transform 2s ease-out;
    transition: transform 2s ease-out;
    transition: transform 2s ease-out, -webkit-transform 2s ease-out;
  }

  /*
  ███████  ██████   ██████ ██  █████  ██
  ██      ██    ██ ██      ██ ██   ██ ██
  ███████ ██    ██ ██      ██ ███████ ██
       ██ ██    ██ ██      ██ ██   ██ ██
  ███████  ██████   ██████ ██ ██   ██ ███████
  */
  .social-logo {
    display: block;
    width: 55px;
    height: 55px;
  }

  .facebook {
    position: relative;
  }

  .twitter {
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }

  /*
   ██████  ██████  ██████  ██    ██ ██████  ██  ██████  ██   ██ ████████
  ██      ██    ██ ██   ██  ██  ██  ██   ██ ██ ██       ██   ██    ██
  ██      ██    ██ ██████    ████   ██████  ██ ██   ███ ███████    ██
  ██      ██    ██ ██         ██    ██   ██ ██ ██    ██ ██   ██    ██
   ██████  ██████  ██         ██    ██   ██ ██  ██████  ██   ██    ██
  */
  .copyright {
    background-color: coral;
    position: relative;
    text-decoration: none;
    top: 20px;
  }

  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  /*
  ██████  ██████   █████   ██████ ██ ████████ ██    ██
  ██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
  ██    ██ ██████  ███████ ██      ██    ██      ████
  ██    ██ ██      ██   ██ ██      ██    ██       ██
  ██████  ██      ██   ██  ██████ ██    ██       ██
  */
  .address-map,
  .address-text,
  .footer-pic-wrapper,
  .social-ul,
  .copyright {
    opacity: 0;
    -webkit-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;
  }

  .social-logo {
    opacity: 0.7;
  }

  .follow-b {
    opacity: 0.85;
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
   ██████  ██████   █████   ██████ ██ ████████ ██    ██
  ██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
  ██    ██ ██████  ███████ ██      ██    ██      ████
  ██    ██ ██      ██   ██ ██      ██    ██       ██
   ██████  ██      ██   ██  ██████ ██    ██       ██
  */
  .footer-address:hover .address-map,
  .footer-address:hover .address-text,
  .footer-bat-profile:hover .footer-pic-wrapper,
  .footer-info:hover .social-ul,
  .footer-info:hover .copyright,
  .follow-b:hover {
    opacity: 1;
  }

  .social-logo:hover,
  .social-list:hover .social-logo {
    opacity: 1;
    font-weight: 500;
    font-size: 26px;
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
  ███████  ██████   ██████  ████████ ███████ ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  █████   ██    ██ ██    ██    ██    █████   ██████
  ██      ██    ██ ██    ██    ██    ██      ██   ██
  ██       ██████   ██████     ██    ███████ ██   ██
  */
  .footer-info:hover a {
    background-color: rgb(252, 243, 201);
    color: rgb(38, 38, 38);
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
   █████  ██████  ██████  ██████  ███████ ███████ ███████
  ██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██
  ███████ ██   ██ ██   ██ ██████  █████   ███████ ███████
  ██   ██ ██   ██ ██   ██ ██   ██ ██           ██      ██
  ██   ██ ██████  ██████  ██   ██ ███████ ███████ ███████
  */
  .footer-address:hover {
    background-color: rgb(252, 243, 201);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background-color 6s ease 0s;
    -o-transition: background-color 6s ease 0s;
    transition: background-color 6s ease 0s;
  }

  /*---  Logo on RETURN----*/
  .footer-address:hover .address-logo {
    -webkit-transform: translateX(-500px) rotate(390deg);
        -ms-transform: translateX(-500px) rotate(390deg);
            transform: translateX(-500px) rotate(390deg);
  }

  .footer-address:hover .address-map {
    background-image: url(img/map.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
  ██████  ██████   ██████  ███████ ██ ██      ███████
  ██   ██ ██   ██ ██    ██ ██      ██ ██      ██
  ██████  ██████  ██    ██ █████   ██ ██      █████
  ██      ██   ██ ██    ██ ██      ██ ██      ██
  ██      ██   ██  ██████  ██      ██ ███████ ███████
  */
  .footer-bat-profile:hover .profile-logo {
    display: none;
  }

  .footer-bat-profile:hover .footer-pic-wrapper {
    display: inline-block;
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  .footer-bat-profile:hover .profile-pic {
    background-image: url(img/car.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
  ██ ███    ██ ███████  ██████
  ██ ████   ██ ██      ██    ██
  ██ ██ ██  ██ █████   ██    ██
  ██ ██  ██ ██ ██      ██    ██
  ██ ██   ████ ██       ██████
  */
  .footer-info:hover {
    background-color: rgb(252, 243, 201);
  }

  .footer-info:hover .info-logo {
    display: inline;
    background-size: 100%;
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);
  }

  .footer-info:hover .info-text {
    display: inline;
    height: 100%;
    text-align: center;
    width: 100%;
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
  ███████  ██████   ██████ ██  █████  ██
  ██      ██    ██ ██      ██ ██   ██ ██
  ███████ ██    ██ ██      ██ ███████ ██
       ██ ██    ██ ██      ██ ██   ██ ██
  ███████  ██████   ██████ ██ ██   ██ ███████
  */
  .footer-info:hover .social-wrapper {
    height: 100%;
    width: 100%;
  }

  .footer-info:hover .follow-b {
    /*padding: 0px 0 10px;*/
    width: 100%;
  }

  .footer-info:hover .social-ul {
    height: 30%;
    width: 100%;
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-info:hover .social-list {
    list-style: none;
    width: 150px;
  }

  /*
  ██   ██  ██████  ██    ██ ███████ ██████
  ██   ██ ██    ██ ██    ██ ██      ██   ██
  ███████ ██    ██ ██    ██ █████   ██████
  ██   ██ ██    ██  ██  ██  ██      ██   ██
  ██   ██  ██████    ████   ███████ ██   ██
  */
  /*
  ███████  ██████   ██████ ██  █████  ██
  ██      ██    ██ ██      ██ ██   ██ ██
  ███████ ██    ██ ██      ██ ███████ ██
       ██ ██    ██ ██      ██ ██   ██ ██
  ███████  ██████   ██████ ██ ██   ██ ███████
  */
  /*
  ██       ██████   ██████   ██████
  ██      ██    ██ ██       ██    ██
  ██      ██    ██ ██   ███ ██    ██
  ██      ██    ██ ██    ██ ██    ██
  ███████  ██████   ██████   ██████
  */
  .footer-info:hover .a-text {
    display: inline-block;
    line-height: 15px;
    text-decoration: none;
  }

  .a-text:hover .facebook {
    background-color: rgba(59, 89, 152, 0.8);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    border-radius: 50%;
  }

  .a-text:hover .twitter,
  .twitter:hover {
    -webkit-transform: rotate(390deg);
        -ms-transform: rotate(390deg);
            transform: rotate(390deg);
  }

  .a-text:hover .instagram {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    border-radius: 17px;
    background: -o-radial-gradient(30% 107%, circle, rgba(252, 243, 150, 0.7) 0%, rgba(252, 243, 150, 0.7) 5%, rgba(252, 89, 73, 0.7) 45%, rgba(214, 36, 159, 0.7) 60%, rgba(40, 90, 235, 0.7) 90%);
    background: radial-gradient(circle at 30% 107%, rgba(252, 243, 150, 0.7) 0%, rgba(252, 243, 150, 0.7) 5%, rgba(252, 89, 73, 0.7) 45%, rgba(214, 36, 159, 0.7) 60%, rgba(40, 90, 235, 0.7) 90%);
  }
}