/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/
@media screen and (max-width: 480px) {

  header,
  nav,
  nav ul,
  .logo-link,
  .logo {
    height: 80px;
  }

  nav ul li {
    line-height: 80px;
  }

  #hero {
    height: 700px;
    background-attachment: scroll;
    background-image: linear-gradient(rgba(68, 64, 64, 0.6),
        rgba(0, 0, 0, 0.4)),
      url(img/batman-hero.jpg);
    background-size: 700px 100%;
    background-repeat: no-repeat;
    background-position: top;
    /*background-attachment: fixed; --> makes image glitch */
    /*pointer-events: none;*/
    /*cursor: default;*/
    /*position: relative;*/
  }

  #bat-video {
    display: none;
  }
  /*
  ███████  ██████  ███    ██ ████████
  ██      ██    ██ ████   ██    ██
  █████   ██    ██ ██ ██  ██    ██
  ██      ██    ██ ██  ██ ██    ██
  ██       ██████  ██   ████    ██
  */


  .hero-text {
    background-color: rgba(93, 145, 214, 0.5);
    background-color: rgba(114, 169, 226, 0.3);
    background-color: rgba(123, 157, 201, 0.5);
    /*    bottom: 40%;
    height: 150px;*/
    top: 35%;
    height: 130px;
    /*max-width: 70%;*/
    padding: 0 10px 10px;
    position: relative;
  }

  #hero h1 {
    padding-bottom: 10px;
  }

  #hero h2 {
    font-weight: 400;
    padding-top: 10px;
  }
  .movies h2,
  .actors h2,
  #gallery h2 {
    padding: 40px 0;
  }
  #gallery h2 {
    padding-bottom: 80px;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  .feature p {
    font-size: 1.2rem;
    padding: 0 15px;
  }

  .picture {
    height: 250px;
    width: 350px;
  }

  /*  .actors .feature .picture {
    height: 200px;
    width: 320px;
  }*/
  /*
 █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
*/
  #movies::before,
  #actors::before,
  #gallery::before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
   ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .wrappers {
    border: 12px solid whitesmoke;
    height: 400px;
    width: 100%;
  }

  .hero-to-movies,
  .movies-to-actors, {
    /*background-size: 50% 100%;*/
    /*background-position: bottom;*/
    /*background-attachment: fixed;*/
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */

  .mobile-box {
    margin-bottom: 40px;
  }

  .mobile-box img {
    width: 100%;
  }
  
  .mobile-box a span {
    line-height: 3.6rem;
  }


  /*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
  .footer-mobile-wrapper {
  }
}