/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/
@media screen and (max-width: 480px) {
  #hero {
    height: 700px;
    background-attachment: scroll;
    background-image: linear-gradient(rgba(68, 64, 64, 0.6),
        rgba(0, 0, 0, 0.4)),
      url(img/batman-hero.jpg);
    background-size: 700px 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /*background-attachment: fixed; --> makes image glitch */
    /*pointer-events: none;*/
    /*cursor: default;*/
    /*position: relative;*/
  }

  #bat-video {
    display: none;
  }

  /*
  ███████  ██████  ███    ██ ████████
  ██      ██    ██ ████   ██    ██
  █████   ██    ██ ██ ██  ██    ██
  ██      ██    ██ ██  ██ ██    ██
  ██       ██████  ██   ████    ██
  */
  #hero-text {
    /*background-color: rgba(93, 145, 214, 0.5);
    background-color: rgba(114, 169, 226, 0.3);
    background-color: rgba(123, 157, 201, 0.5);
    */
    border: 2px solid yellow;
    border-radius: 14px;
    padding: 0 10px 8px;
    position: relative;
    text-shadow: 4px 4px 2px black;
    top: 35%;
  }

  #hero h1 {
    padding-bottom: 20px;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    text-indent: 0.5rem;
  }

  #hero h2 {
    font-weight: 400;
    font-size: 1rem;
    word-spacing: 0.2rem;
  }

  .movies h2,
  .actors h2,
  #gallery h2 {
    width: 80%;
  }

  h3 {
    font-size: 2rem;
    /*margin: 20px 0;*/
  }
  
  p {
    font-size: 1.2rem;
    /*padding: 10px 120px;*/
  }

  /*
 █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
*/
  /*  #movies::before,
  #actors::before,
  #gallery::before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }*/
/*  #movies::before,
  #actors::before,
  #gallery::before {
    height: 12vh;
    margin-top: -12vh;
  }*/
  
/*  #movies::before,
  #actors::before,
  #gallery::before,
  #contact::before {
    content: '';
    display: block;
    visibility: hidden;
    height: 8vh;
    margin-top: -8vh;
  }*/

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
   ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .feature {
    /*border-radius: 25px;*/
    /*    padding: 40px 0;*/
    /*border-bottom: 2px solid black;*/
  }

  .wrappers {
    border: 12px solid whitesmoke;
    height: 500px;
    width: 100%;
  }

  .picture {
    border-radius: 22px;
    height: 200px;
    padding: 0 40px;
   /*    
    width: 300px;
    */
  }

  .bale-picture {
    height: 230px;
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */
  .mobile-box {
    /*margin-bottom: 40px;*/
  }
  
  .mobile-box-wrapper {
    padding: 20px;
  }
  .mobile-box-wrapper:nth-child(4) {
    margin-bottom: 100px;
  }

  .mobile-box img {
    width: 100%;
  }

  .mobile-box a span {
    line-height: 3.6rem;
  }

  /*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
  .footer-mobile-wrapper {
    height: 88vh;
  }
  
  .mobile-followb-wrapper {}

  .follow-b {
    font-size: 2.4rem;
    padding: 10px;
    
    letter-spacing: 0.6rem;
    text-indent: 0.6rem;
  }

  .mobile-social-ul {
    /*top: 20vh;*/
  }

  .mobile-copyright {
    /*top: 40%;*/
  }
}