/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/
@media screen and (max-width: 480px) {

  header,
  nav,
  nav ul,
  .logo-link,
  .logo {
    height: 80px;
  }

  nav ul li {
    line-height: 80px;
  }

  #hero {
    height: 1000px;
    background-attachment: fixed;
    
    
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    
    /*pointer-events: none;*/
    /*cursor: default;*/
    /*position: relative;*/
  }

  .hero-text {
    height: 150px;
    max-width: 70%;
    padding: 0 20px 10px;
    
  }

  #hero h1 {}

  #hero h2 {}

  h3 {
    font-size: 2.5rem;
  }

  /*
 █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
*/
  #movies::before,
  #actors::before,
  #gallery::before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }

  .wrappers {
    border: 12px solid whitesmoke;
    height: 280px;
    width: 100%;
  }

  .hero-to-movies,
  .movies-to-actors, {
    background-repeat: no-repeat;
    background-size: 180% 100%;
    background-position: bottom;
    background-attachment: fixed;
  }
}