:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  max-width: 100%;
  /*  height: 100%;*/
}

html, body {
  /*height: 100%;*/
}

/*
███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ███████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
*/
header,
nav,
nav ul,
.logo-link,
.logo {
  height: 8vh;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo-link {
  width: 100%;
  display: inline-block;
  /*
  display: inline-block;
  position: absolute;
  left: 0;
  overflow: hidden;
  */
}

.logo {
  width: 100px;
}

nav {
  background-color: rgb(38, 38, 38);
  width: 100%;
}

nav ul {
  /*background-color: aqua;*/
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul li {
  display: inline-block;
  /*puts them on same ROW, instead column */
  line-height: 8vh;
  /* same as parent's height; centers the content vertically */
  list-style: none;
  overflow: hidden;
  position: relative;
}

nav ul li a {
  /*color: rgb(237, 245, 252);*/
  color: whitesmoke;
  display: block;
  /* clickable on outside text */
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  /*text-align: center;*/
  min-width: 7vw;
}

/*
██   ██ ███████ ██████   ██████
██   ██ ██      ██   ██ ██    ██
███████ █████   ██████  ██    ██
██   ██ ██      ██   ██ ██    ██
██   ██ ███████ ██   ██  ██████
*/
#hero {
  background-color: chocolate;
  position: relative;
  width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  display: flex;
  justify-content: center;
}

#bat-video {
  object-fit: cover;
  width: 100%;
}

/*
███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██
*/
::selection {
  background-color: rgb(253, 227, 17);
}

#hero-text {
  /*background-color: aquamarine;*/
  bottom: 5%;
  color: whitesmoke;
  color: rgb(253, 227, 17);
  cursor: default;
  font-family: 'Lato', sans-serif;
  height: 23%;
  position: absolute;
  text-align: center;
  text-shadow: 6px 6px 4px black;
  text-transform: uppercase;
  border-radius: 32px;
  background-color: rgba(114, 169, 226, 0.3);
  background-color: rgba(123, 157, 201, 0.5);
  background-color: rgba(245, 245, 245, 0.2);
}

#hero h1, #hero h2 {
  /*margin: 0 auto;*/
}

#hero h1 {
  /*background-color: bisque;*/
}

#hero h2 {
  /*background-color: bisque;*/
}

.movies h2,
.actors h2,
#gallery h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 6rem;
  letter-spacing: 2rem;
  text-align: center;
  width: 100%;
  /*  border: solid whitesmoke;
  border-width: 0 0 12px;*/
}

.movies h2,
.actors h2 {
  background-color: burlywood;
  color: rgb(38, 38, 38);
}

#gallery h2 {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  /*margin: 0;*/
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  margin: 40px 0;
}

p {
  line-height: 1.4em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.2em;
}

.button {
  font-size: 1rem;
}

/*p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 14px;
}*/
.text-wrapper p {
  /*background-color: coral;*/
  font-family: 'Cormorant Upright', serif;
  cursor: default;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
}

.box>span,
.mobile-box>span,
.mobile-box a span {
  display: block;
  font-family: 'Cormorant', sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 2.6em;
  text-align: center;
}

.address-text .address-manor {
  font-style: italic;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 2.6em;
}

/*.address-text {
  background-color: aquamarine;
}*/

.follow-b {
  font-family: 'Fredericka the Great', cursive;
  cursor: default;
  font-size: 3em;
  font-weight: 500;
  width: 100%;
  
  /*
  margin: 70px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
  */
}

.info-text {
  font-family: 'Cormorant Upright', serif;
}

.italics {
  font-style: italic;
  display: inline;
}

/*
 █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
*/
#movies::before,
#actors::before,
#gallery::before {
  content: '';
  display: block;
  height: 8vh;
  margin-top: -8vh;
  visibility: hidden;
}

#footer::before {
  content: '';
  display: block;
  height: -70px;
  margin-top: -70px;
  visibility: hidden;
}

/*
██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
*/
.wrappers {
  border: 12px solid whitesmoke;
  width: 100%;
  height: auto;
  /*outline: 2px solid black;*/
}

.hero-to-movies,
.movies-to-actors,
.actors-to-gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero-to-movies {
  background-image: url(img/wrapper/bat-wings.jpg);
  height: 100%;
  width: 100%;
}

.movies-to-actors {
  background-image: url(img/wrapper/city-window.jpg);
  height: 100%;
  width: 100%;
}

.actors-to-gallery {
  background-image: url(img/wrapper/cartoon.jpg);
  height: 100%;
  width: 100%;
}


/*
██████   ██████  ██   ██ ███████ ███████
██   ██ ██    ██  ██ ██  ██      ██
██████  ██    ██   ███   █████   ███████
██   ██ ██    ██  ██ ██  ██           ██
██████   ██████  ██   ██ ███████ ███████
*/
.movies {
  background-color: rgba(219, 202, 180, 0.5);
}

.actors {
  background-color: rgba(177, 174, 168, 0.5);
}

.boxes {
  /*  ===   If add height, boxes will overlap   ===== */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  /*  border: solid whitesmoke;
  border-width: 0 12px 0;*/
}

.feature {
  height: 1300px;
  height: 100%;

  position: relative;
  /*<-- if navbar disappears, disable relative */
  flex-basis: 20%;
  text-align: center;
  /*
  margin-top: 50px;
  padding: 35px 25px 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  */
}

/*
██████  ██  ██████ ████████ ██    ██ ██████  ███████
██   ██ ██ ██         ██    ██    ██ ██   ██ ██
██████  ██ ██         ██    ██    ██ ██████  █████
██      ██ ██         ██    ██    ██ ██   ██ ██
██      ██  ██████    ██     ██████  ██   ██ ███████
*/
.picture-wrapper {
  display: inline-block;
}
.picture-wrapper,
.batman-robin-wrapper,
.picture {
  height: 300px;
  width: 400px;
}

.picture:active {
  outline: none;
}


/*----- Dark Knight Poster ---------*/
/*----------------------------------*/
.dark-knight-poster {
  transition: transform 800ms, box-shadow 800ms;
}

.picture-wrapper:hover .dark-knight-poster {
  box-shadow: 20px 10px 4px rgba(38, 38, 38, 0.4);
  transform: translate(-15px, 0);
}

/*----- Batman & Robin Poster -------*/
/*-----------------------------------*/
.batman-robin-poster {
  transition: transform 1.2s ease-in-out;
  pointer-events: none;
}

.batman-robin-wrapper:hover .batman-robin-poster {
  transform: rotate(360deg);
}

/*----- Batman Returns Poster --------*/
/*------------------------------------*/
.batman-returns-poster {
  transition: transform 1s ease-in-out;
}

.picture-wrapper:hover .batman-returns-poster {
  transform: rotate3d(0, 1, 0, 360deg);
}

/*
██████  ██    ██ ████████ ████████  ██████  ███    ██
██   ██ ██    ██    ██       ██    ██    ██ ████   ██
██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
██████   ██████     ██       ██     ██████  ██   ████
*/
.button-wrapper {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 140px;
  /*margin: 0 auto;*/
  /*margin-top: 30px;*/
}

.button-wrapper,
.read-more,
.source {
  border-radius: 10px;
  text-decoration: none;
}

.read-more,
.source {
  background-color: rgba(38, 38, 38, 0.8);
  display: inline-block;
  padding: 10px;
  user-select: none;
  width: 140px;
}

.button-wrapper a {
  color: rgb(253, 227, 17);
}
.button-wrapper a:visited {
  background-color: rgb(47, 46, 46);
  color: rgb(238, 222, 110);
}

.button-wrapper a:active {
  background-color: rgba(252, 226, 16, 0.5);
  color: rgb(38, 38, 38);
  text-decoration: none;
}
.button-wrapper a:focus {
  text-decoration: underline;
}
