:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  cursor: default;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  max-width: 100%;
  width: 100%;
}


/*
███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ███████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
*/
header,
nav,
nav ul,
.logo-link,
.logo {
  height: 8vh;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo-link {
  display: inline-block;
  width: 100%;
}

.logo {
  width: 100px;
}

nav {
  background-color: rgb(38, 38, 38);
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

nav ul li {
  display: inline-block;
  line-height: 8vh;
  list-style: none;
  overflow: hidden;
  position: relative;
}

nav ul li a {
  color: whitesmoke;
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  min-width: 7vw;
  text-decoration: none;
  text-transform: capitalize;
}



/*
██   ██ ███████ ██████   ██████
██   ██ ██      ██   ██ ██    ██
███████ █████   ██████  ██    ██
██   ██ ██      ██   ██ ██    ██
██   ██ ███████ ██   ██  ██████
*/
#hero {
  background-color: chocolate;
  position: relative;
  width: 100%;
  
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bat-video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*
███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██
*/
::-moz-selection {
  background-color: rgb(253, 227, 17);
}
::selection {
  background-color: rgb(253, 227, 17);
}

#hero-text {
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 32px;
  bottom: 38vh;
  color: rgb(253, 227, 17);
  cursor: default;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 23%;
  position: absolute;
  text-align: center;
  text-shadow: 6px 6px 4px black;
  text-transform: uppercase;
}

.h2-wrapper {
  min-width: 100%;
}

.h2-movies-actors-wrapper {
  margin: 50px 0;
}

.movies h2,
.actors h2,
#gallery h2 {
  font-family: 'Fredericka the Great', 'Comic Sans MS', sans-serif, cursive;
  font-size: 5rem;
  letter-spacing: 2rem;
  margin: auto;
  text-align: center;
  
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.movies h2,
.actors h2 {
  background-color: rgba(252, 226, 16, 0.1);
  border: 4px dashed black;
  color: rgb(38, 38, 38);
}

#gallery h2 {
  background-color: rgb(38, 38, 38);
  border: 4px dashed whitesmoke;
  color: whitesmoke;
}

h3 {
  font-family: 'Fredericka the Great', 'Comic Sans MS', sans-serif, cursive;
  font-size: 2rem;
  margin: 40px 0 40px;
}

.feature p {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 10px;
  padding: 10px 30px;
}

.button {
  font-size: 1rem;
}

.text-wrapper p {
  cursor: default;
  font-family: 'Cormorant Upright', Georgia, serif;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
}

.box>span,
.mobile-box>span,
.mobile-box a span {
  display: block;
  font-family: 'Cormorant', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 2.6em;
  text-align: center;
}

.address-text .address-manor {
  font-size: 2.2em;
  font-style: italic;
  font-weight: 500;
  line-height: 2.6em;
}

.follow-b {
  cursor: default;
  font-family: 'Cormorant', Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 500;
  width: 100%;
  
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.info-text {
  font-family: 'Cormorant Upright', Georgia, serif;
}

.italics {
  display: inline;
  font-style: italic;
}

/*
 █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
*/
#movies::before,
#actors::before,
#gallery::before {
  content: '';
  display: block;
  height: 8vh;
  margin-top: -8vh;
  visibility: hidden;
}

/*#footer::before {
  content: '';
  display: block;
  height: -70px;
  margin-top: -70px;
  visibility: hidden;
}*/

/*
██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
*/
.wrappers {
  border: 12px solid whitesmoke;
  height: auto;
  width: 100%;
}

.hero-to-movies,
.movies-to-actors,
.actors-to-gallery {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hero-to-movies {
  background-image: url(img/wrapper/bat-wings.jpg);
}

.movies-to-actors {
  background-image: url(img/wrapper/city-window.jpg);
}

.actors-to-gallery {
  background-image: url(img/wrapper/cartoon.jpg);
}

/*
██████   ██████  ██   ██ ███████ ███████
██   ██ ██    ██  ██ ██  ██      ██
██████  ██    ██   ███   █████   ███████
██   ██ ██    ██  ██ ██  ██           ██
██████   ██████  ██   ██ ███████ ███████
*/
.movies {
  background-color: rgba(219, 202, 180, 0.5);
}

.actors {
  background-color: rgba(177, 174, 168, 0.5);
}

.boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.feature {
  height: 100%;
  /*<-- if navbar disappears, disable relative */
  position: relative;
  text-align: center;
}

/*
██████  ██  ██████ ████████ ██    ██ ██████  ███████
██   ██ ██ ██         ██    ██    ██ ██   ██ ██
██████  ██ ██         ██    ██    ██ ██████  █████
██      ██ ██         ██    ██    ██ ██   ██ ██
██      ██  ██████    ██     ██████  ██   ██ ███████
*/

.picture-wrapper {
  display: inline-block;
}

.picture {
  height: 300px;
  width: 400px;
}

.picture:active {
  outline: none;
}

/*----- Dark Knight Poster ---------*/
/*----------------------------------*/
.dark-knight-poster {
  -webkit-transition: -webkit-transform 800ms, -webkit-box-shadow 800ms;
  transition: -webkit-transform 800ms, -webkit-box-shadow 800ms;
  -o-transition: transform 800ms, box-shadow 800ms;
  transition: transform 800ms, box-shadow 800ms;
  transition: transform 800ms, box-shadow 800ms, -webkit-transform 800ms, -webkit-box-shadow 800ms;
}

.picture-wrapper:hover .dark-knight-poster {
  -webkit-box-shadow: 20px 10px 4px rgba(38, 38, 38, 0.4);
          box-shadow: 20px 10px 4px rgba(38, 38, 38, 0.4);
  -webkit-transform: translate(-15px, 0);
      -ms-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}

/*----- Batman & Robin Poster -------*/
/*-----------------------------------*/
.batman-robin-poster {
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  -o-transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  /*pointer-events: none;*/
}

.batman-robin-wrapper:hover .batman-robin-poster {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*----- Batman Returns Poster --------*/
/*------------------------------------*/
.batman-returns-poster {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.picture-wrapper:hover .batman-returns-poster {
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
          transform: rotate3d(0, 1, 0, 360deg);
}

/*
██████  ██    ██ ████████ ████████  ██████  ███    ██
██   ██ ██    ██    ██       ██    ██    ██ ████   ██
██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
██████   ██████     ██       ██     ██████  ██   ████
*/
.button-wrapper {
  cursor: pointer;
  display: block;
  margin: 10% auto 0;
  text-align: center;
  width: 140px;
}

.button-wrapper,
.read-more,
.source {
  border-radius: 10px;
  text-decoration: none;
}

.read-more,
.source {
  background-color: rgba(38, 38, 38, 0.8);
  display: inline-block;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 140px;
}

.button-wrapper a {
  color: rgb(253, 227, 17);
}

.button-wrapper a:visited {
  background-color: rgb(47, 46, 46);
  color: rgb(238, 222, 110);
}

.button-wrapper a:active {
  background-color: rgba(252, 226, 16, 0.5);
  color: rgb(38, 38, 38);
  text-decoration: none;
}

.button-wrapper a:focus {
  text-decoration: underline;
}

/*
 ██████   █████  ██      ██      ███████ ██████  ██    ██
██       ██   ██ ██      ██      ██      ██   ██  ██  ██
██   ███ ███████ ██      ██      █████   ██████    ████
██    ██ ██   ██ ██      ██      ██      ██   ██    ██
 ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
*/
.h2-gallery-wrapper,
.mobile-gallery,
.gallery-boxes {
  background-color: rgb(38, 38, 38);
}

abbr {
  text-decoration: none;
}

.copyright {
  font-family: 'Cormorant', Helvetica, sans-serif;
}