@media screen and (max-width: 1279px) {
  html {
    overflow: scroll;
  }

  body {
    overflow: hidden;
  }

  header,
  nav,
  nav ul,
  .logo-link,
  .logo {
    height: 12vh;
  }

  .logo-list {
    /*background-color: aqua;*/
    max-width: 70%;
    width: 70%;
  }

  .logo-link {
    /*background-color: yellow;*/
    width: 100%;
    /*    position: absolute;
    left: 0;*/
  }

  .logo {
    /*background-color:  aquamarine;*/
    max-width: 100px;
    width: 100%;
    height: 12vh;
  }

  nav {
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    position: absolute;
    /*background-color: aqua;*/
    width: 100vw;
  }

  nav ul li {
    /*background-color: crimson;*/
    line-height: 12vh;
    width: 100%;
  }

  nav ul li a {
    font-size: 0.9rem;
  }

  /*  .hero-text {
    height: 20%;
    max-height: 20%;
  }*/
  #hero {
    /*background-attachment: local;*/
    /* the image is glitching ----
    background-attachment: scroll;*/
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #hero h1 {
    font-size: 3rem;
  }

  #hero h2 {
    font-size: 1rem;
  }

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
   ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .actors-to-gallery {
    background-position: left;
    background-size: cover;
    /*width: 100vw;
    height: 100vh;*/
  }

  #gallery h1 {
    font-size: 2rem;
  }

  .feature p {}

  /*  .picture {
    height: 45vh;
    width: 90vw;
  }*/
  /*  .actors .feature .picture {
    height: 200px;
    width: 320px;
  }*/
  .footer-img {
    height: 50vh;
    width: 100vw;
  }

  /*
     ██████   █████  ██      ██      ███████ ██████  ██    ██
    ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
    ██   ███ ███████ ██      ██      █████   ██████    ████
    ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
     ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
    */
  .gallery-boxes {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    text-align: center;
  }

  .container {
    background-color: rgb(38, 38, 38);
    width: 100%;
    height: 100%;
    /*margin: 50px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .box {
    width: 100%;
    /*height: 50%;*/
  }

  .box-image {
    border: 10px solid whitesmoke;
    width: 90vw;
    max-width: 100vw;
    height: 40vh;
    max-height: 70vh;
  }

  span {
    display: block;
    color: whitesmoke;
  }

  .footer-img {
    height: 60vh;
    width: 100%;
    background-image: url(img/wrapper/rain.jpg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: right;
  }
}