/*
████████  █████  ██████  ██      ███████ ████████ ███████
   ██    ██   ██ ██   ██ ██      ██         ██    ██
   ██    ███████ ██████  ██      █████      ██    ███████
   ██    ██   ██ ██   ██ ██      ██         ██         ██
   ██    ██   ██ ██████  ███████ ███████    ██    ███████
*/
@media screen and (min-width: 481px) and (max-width: 1279px) {
  nav ul li {
    flex-basis: 15%;
  }

  #hero {
    /*background-attachment: local;*/
  }

  #bat-video {
    height: 20%;
    margin-top: 100px;
  }

  #hero-text {
    /*bottom: 20%;*/
    /*bottom: 20%;*/
    /*   top: 0;*/
  }

  #hero h1 {
    padding: 0 20px;
    font-size: 3rem;
    letter-spacing: 1.4rem;
  }

  #hero h2 {
    padding-bottom: 15px;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.2rem;
  }

  /*
   █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
  ██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
  ███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
  ██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
  ██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
  */
  #movies::before,
  #actors::before,
  #gallery::before {
    height: 12vh;
    margin-top: -12vh;
  }

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
   ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .wrappers {
    height: 77vh;
  }

  .hero-to-movies,
  .movies-to-actors,
  .actors-to-gallery {
    background-attachment: fixed;
  }

  .hero-to-movies {
    background-size: 100% 100%;
  }

  .movies-to-actors {
    background-size: 200% 100%;
  }

  .actors-to-gallery {
    background-size: 200% 100%;
  }

  .feature {
    padding: 35px 25px 0;
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */
  .gallery-boxes {
    display: none;
  }

  .mobile-gallery {
    display: block;
    max-height: 100%;
    width: 100%;
  }

  .mobile-container {
    background-color: rgb(38, 38, 38);
    /*height: 2200px;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mobile-box {
    /*margin-bottom: 80px;*/
  }

  .mobile-box img {
    width: 100%;
  }

  .mobile-box span {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
    height: 10vh;
  }

  /*
 ███████  ██████   ██████  ████████ ███████ ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 █████   ██    ██ ██    ██    ██    █████   ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 ██       ██████   ██████     ██    ███████ ██   ██
 */
