/*
████████  █████  ██████  ██      ███████ ████████ ███████
   ██    ██   ██ ██   ██ ██      ██         ██    ██
   ██    ███████ ██████  ██      █████      ██    ███████
   ██    ██   ██ ██   ██ ██      ██         ██         ██
   ██    ██   ██ ██████  ███████ ███████    ██    ███████
*/
@media screen and (min-width: 481px) and (max-width: 1279px) {
  nav ul li {
    flex-basis: 15%;
  }

  .hero-text {
    height: 20%;
    /*  
   width: 55%;
   max-width: 40%;
   min-width: 20vw;
  */
    top: 12vh;
  }

  #hero {
    background-attachment: local;
  }

  #hero h1 {
    padding: 0 20px;
  }

  #hero h2 {
    padding-bottom: 15px;
  }

  /*
   █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
  ██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
  ███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
  ██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
  ██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
  */
  #movies::before,
  #actors::before,
  #gallery::before {
    height: 12vh;
    margin-top: -12vh;
  }

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
   ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .wrappers {
    height: 77vh;
  }

  .hero-to-movies {
    background-size: 190% 100%;
  }

  .movies-to-actors {
    background-size: 200% 100%;
  }

  .actors-to-gallery {
    background-size: 200% 100%;
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */
  .gallery-boxes {
    display: none;
  }

  .mobile-gallery {
    display: block;
    max-height: 100%;
    width: 100%;
  }

  .mobile-container {
    background-color: rgb(38, 38, 38);
    /*height: 2200px;*/
    padding-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mobile-box {
    background-color: burlywood;
    text-align: center;
    /*min-width: 500px;*/
    /*min-width: 400px;*/
  }

  .mobile-box img {
      width: 100%;
    /*display: block;*/
  }

  .mobile-box span {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
    height: 10vh;
  }

 /*
 ███████  ██████   ██████  ████████ ███████ ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 █████   ██    ██ ██    ██    ██    █████   ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 ██       ██████   ██████     ██    ███████ ██   ██
 */
  .footer-mobile-wrapper {
    /*height: 400px;*/
  }
}