/*
████████  █████  ██████  ██      ███████ ████████
   ██    ██   ██ ██   ██ ██      ██         ██
   ██    ███████ ██████  ██      █████      ██
   ██    ██   ██ ██   ██ ██      ██         ██
   ██    ██   ██ ██████  ███████ ███████    ██
*/

@media screen and (min-width: 600px) {
  .mobile-container {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .wrappers {
    height: 88vh;
  }
}


@media screen and (min-width: 1001px) and (max-width: 1279px) {
  nav ul li {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }

  #bat-video {
    height: 40vh;
    margin-top: 12vh;
  }

  #hero-text {
    background-color: rgba(245, 245, 245, 0.2);
    border: 4px double rgb(253, 227, 17);
    bottom: 14vh;
    height: 100px;
  }

  #hero h1,
  #hero h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #hero h1 {
    font-size: 3rem;
    height: 65%;
    letter-spacing: 1rem;
    padding-top: 5px;
    text-indent: 1rem;
  }

  #hero h2 {
    font-size: 1rem;
    height: 35%;
    letter-spacing: 0.3rem;
    padding-bottom: 10px;
    word-spacing: 0.2rem;
  }
  
  .movies h2,
  .actors h2,
  #gallery h2 {
    font-size: 4rem;
  }

  /*
   █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
  ██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
  ███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
  ██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
  ██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
  */
  /*  #movies::before,
  #actors::before,
  #gallery::before,
  .contact::before {
    content: '';
    display: block;
    visibility: hidden;
    height: 12vh;
    margin-top: -12vh;
  }*/
  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
   ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .wrappers {
    height: 77vh;
  }

  .hero-to-movies,
  .movies-to-actors,
  .actors-to-gallery {
    background-attachment: fixed;
  }

  .hero-to-movies {
    background-size: 150% 100%;
  }

  .movies-to-actors {
    background-size: 250% 100%;
  }

  .actors-to-gallery {
    background-size: 200% 100%;
  }

  .feature {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */
  .gallery-boxes {
    display: none;
  }

  .mobile-gallery {
    display: block;
    max-height: 100%;
    width: 100%;
  }

  .mobile-container {
    background-color: rgb(38, 38, 38);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mobile-box-wrapper {
    padding: 60px;
  }

  .mobile-box-wrapper:nth-child(4) {
    margin-bottom: 150px;
  }

  .mobile-box img {
    width: 100%;
  }

  .mobile-box span {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
    height: 10vh;
  }

  /*
 ███████  ██████   ██████  ████████ ███████ ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 █████   ██    ██ ██    ██    ██    █████   ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 ██       ██████   ██████     ██    ███████ ██   ██
 */
  #contact {
    height: 100%;
  }

  .mobile-followb-wrapper {
    margin: 0 auto;
    width: 100%;
  }

  .follow-b {
    font-size: 3rem;
    letter-spacing: 1rem;
    padding: 20px;
    text-indent: 1rem;
    width: 60%;
  }

  .mobile-social-logo {
    width: 80px;
    height: 80px;
  }
}

