@media screen and (max-width: 1279px) {
  html {
    overflow: scroll;
  }
  body {
    overflow: hidden;
  }
  nav #batcave {
    display: none;
  }

  header,
  nav,
  nav ul,
  nav ul li,
  nav ul li a,
  .logo-link,
  .logo {
    height: 12vh;
  }

  .logo-list {
    /*background-color: aqua;*/
    max-width: 70%;
    width: 70%;
  }

  .logo-link {
    /*background-color: yellow;*/
    width: 100%;
    /*    position: absolute;
    left: 0;*/
  }

  .logo {
    /*background-color:  aquamarine;*/
    max-width: 100px;
    width: 90%;
    height: 12vh;
  }

  nav {
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    position: absolute;
    /*background-color: aqua;*/
    width: 100%;
  }

  nav ul li {
    /*background-color: crimson;*/
    line-height: 12vh;
    width: 100%;
  }

  nav ul li a {
    font-size: 0.9rem;
  }
  

  nav ul li a:focus {
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
  }

  nav ul li a:active {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
  }
  

  .h2-gallery-wrapper {
    padding: 80px 0;
  }

  .movies h2,
  .actors h2,
  #gallery h2 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    padding: 40px 0;
    width: 70%;
  }

  .movies h2,
  .actors h2 {}

  #gallery h2 {}

  /*
██   ██ ███████ ██████   ██████
██   ██ ██      ██   ██ ██    ██
███████ █████   ██████  ██    ██
██   ██ ██      ██   ██ ██    ██
██   ██ ███████ ██   ██  ██████
*/
  #hero {
    /*background-attachment: local;*/
    /* the image is glitching ----
    background-attachment: scroll;*/
  }

/*  #hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }*/

  #hero h1 {}

  #hero h2 {}

  /*
  █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
 ██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
 ███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
 ██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
 ██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
 */
  #movies::before,
  #actors::before,
  #gallery::before,
  #contact::before {
    content: '';
    display: block;
    visibility: hidden;
    height: 12vh;
    margin-top: -12vh;
  }

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
  ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .feature {
    padding: 60px 20px;
    border-top: 2px solid black;
  }

  .feature-1 {
    border-top: none;
  }

  .read-more,
  .source {
    /*margin-top: 20px;*/
  }

  .actors-to-gallery {
    background-position: left;
    background-size: cover;
    /*width: 100vw;
    height: 100vh;*/
  }

  #gallery h1 {
    font-size: 2rem;
  }

  .footer-img {
    height: 50vh;
    width: 100vw;
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */
  .gallery-boxes {
    display: none;
  }

  .mobile-gallery {
    display: block;
    max-height: 100%;
    width: 100%;
  }

  .mobile-container {
    background-color: rgb(38, 38, 38);
    height: 100%;
    /*padding-bottom: 60px;*/
    /*----FlexBox----*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .mobile-box {
    border: 10px solid whitesmoke;
    /*margin-bottom: 80px;*/
    text-align: center;
  }


  .mobile-box a {
    text-decoration: none;
  }

  .mobile-box img {
    display: block;
  }

  .mobile-box span {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
  }

  /*
 ███████  ██████   ██████  ████████ ███████ ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 █████   ██    ██ ██    ██    ██    █████   ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 ██       ██████   ██████     ██    ███████ ██   ██
 */
 #contact {

 }
  
  .footer-wrapper {
    display: none;
  }

  .follow-b,
  .mobile-social-ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-mobile-wrapper {
    background-color: blueviolet;
    background-color: rgb(252, 243, 201);
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .mobile-followb-wrapper {
    /*background-color: blanchedalmond;*/
    /*position: relative;
    top: 5vh;*/
  }

  .follow-b {
    /*background-color: aquamarine;*/
    border: 3px solid;
    font-weight: bolder;
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }

  .mobile-social-ul {
    /*position: relative;*/
    justify-content: space-evenly;
  }

  .mobile-social-list {
    /*background-color: darkkhaki;*/
    list-style: none;
    width: 150px;
    text-align: center;
  }

  .mobile-a-text {
    /*     background-color: aqua;*/
  }

  .mobile-copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    background-color: rgb(252, 243, 201);
    /*background-color: blue;*/
    /*height: 40%;*/
    /*background-color:  aqua;*/
    /*margin: 0 auto;*/
  }

  .mobile-a-copyright {
    /*background-color:  brown;*/
    color: rgb(38, 38, 38);
    font-family: 'Cormorant', sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
  }
}