/*
████████  █████  ██████  ██      ███████ ████████
   ██    ██   ██ ██   ██ ██      ██         ██
   ██    ███████ ██████  ██      █████      ██
   ██    ██   ██ ██   ██ ██      ██         ██
   ██    ██   ██ ██████  ███████ ███████    ██
*/
/*
 █████  ███    ██ ██████
██   ██ ████   ██ ██   ██
███████ ██ ██  ██ ██   ██
██   ██ ██  ██ ██ ██   ██
██   ██ ██   ████ ██████
*/
/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/


@media screen and (max-width: 1279px) {
  html {
    overflow: scroll;
  }
  body {
    overflow: hidden;
  }
  nav #batcave {
    display: none;
  }

  header,
  nav,
  nav ul,
  nav ul li,
  nav ul li a,
  .logo-link,
  .logo {
    height: 12vh;
  }

  .logo-list {
    max-width: 70%;
    width: 70%;
  }

  .logo-link {
    width: 100%;
  }

  .logo {
    max-width: 100px;
    width: 90%;
    height: 12vh;
  }

  nav {
    background-color: rgb(38, 38, 38);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  nav ul {
    position: absolute;
    width: 100%;
  }

  nav ul li {
    line-height: 12vh;
    width: 100%;
  }

  nav ul li a {
    font-size: 0.9rem;
  }
  

  nav ul li a:focus {
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
  }

  nav ul li a:active {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
  }
  

  .h2-gallery-wrapper {
    padding: 80px 0;
  }

  .movies h2,
  .actors h2,
  #gallery h2 {
    letter-spacing: 0.4rem;
    padding: 40px 0;
    width: 70%;
  }


  /*
  █████  ███    ██  ██████ ██   ██  ██████  ██████  ███████
 ██   ██ ████   ██ ██      ██   ██ ██    ██ ██   ██ ██
 ███████ ██ ██  ██ ██      ███████ ██    ██ ██████  ███████
 ██   ██ ██  ██ ██ ██      ██   ██ ██    ██ ██   ██      ██
 ██   ██ ██   ████  ██████ ██   ██  ██████  ██   ██ ███████
 */
  #movies::before,
  #actors::before,
  #gallery::before
  /*,
  #contact::before
  */ {
    content: '';
    display: block;
    visibility: hidden;
    height: 12vh;
    margin-top: -12vh;
  }

  /*
  ██     ██ ██████   █████  ██████  ██████  ███████ ██████  ███████
  ██     ██ ██   ██ ██   ██ ██   ██ ██   ██ ██      ██   ██ ██
  ██  █  ██ ██████  ███████ ██████  ██████  █████   ██████  ███████
  ██ ███ ██ ██   ██ ██   ██ ██      ██      ██      ██   ██      ██
  ███ ███  ██   ██ ██   ██ ██      ██      ███████ ██   ██ ███████
  */
  .feature {
    padding: 60px 20px;
    border-top: 2px solid black;
  }

  .feature-1 {
    border-top: none;
  }

  .read-more,
  .source {
  }

  .actors-to-gallery {
    background-position: left;
    background-size: cover;
  }

  #gallery h1 {
    font-size: 2rem;
  }

  .footer-img {
    height: 50vh;
    width: 100vw;
  }

  /*
  ██████   █████  ██      ██      ███████ ██████  ██    ██
 ██       ██   ██ ██      ██      ██      ██   ██  ██  ██
 ██   ███ ███████ ██      ██      █████   ██████    ████
 ██    ██ ██   ██ ██      ██      ██      ██   ██    ██
  ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
 */
  .gallery-boxes {
    display: none;
  }

  .mobile-gallery {
    display: block;
    max-height: 100%;
    width: 100%;
  }

  .mobile-container {
    background-color: rgb(38, 38, 38);
    height: 100%;
    /*----FlexBox----*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .mobile-box {
    border: 10px solid whitesmoke;
    text-align: center;
  }

  .mobile-box a {
    text-decoration: none;
  }

  .mobile-box img {
    display: block;
  }

  .mobile-box span {
    background-color: rgb(253, 227, 17);
    color: rgb(38, 38, 38);
  }

  /*
 ███████  ██████   ██████  ████████ ███████ ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 █████   ██    ██ ██    ██    ██    █████   ██████
 ██      ██    ██ ██    ██    ██    ██      ██   ██
 ██       ██████   ██████     ██    ███████ ██   ██
 */
 #contact {
   background-color: rgb(252, 243, 201);
 }
  
  .footer-wrapper {
    display: none;
  }

  .follow-b,
  .mobile-social-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-mobile-wrapper {
    height: 88vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .follow-b {
    border: 3px solid;
    font-weight: bolder;
    margin: 0 auto;
    text-align: center;
  }

  .mobile-social-ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .mobile-social-list {
    list-style: none;
    width: 150px;
    text-align: center;
  }

  .mobile-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    width: 100%;
    background-color: rgb(252, 243, 201);
  }

  .mobile-a-copyright {
    color: rgb(38, 38, 38);
    font-family: 'Cormorant', Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
  }
}